<footer>
        <nav class="navigation-footer">
            <a href="nieuw-west" class="link-button">Nieuw-west</a>
            <a href="zuidoost" class="link-button">Zuidoost</a>
            <a href="oost" class="link-button">Oost</a>
            <a href="archief" class="link-button">Archief</a>
        </nav>
        <ul class="socials">
            <li>
                <img src="/assets/icon-facebook.svg">
                <a href="https://facebook.com" target="_blank">Facebook</a>
            </li>
            <li>
                <img src="/assets/icon-instagram.svg">
                <a href="https://instagram.com" target="_blank">Instagram</a>
            </li>
        </ul>
    </footer>

        <script src="/js/script.js"></script>
</body>
</html>
