    {% assign mobile_logo = "/assets/logo-compact-home.svg" %}
    {% assign desktop_logo = "/assets/logo-lang-home.svg" %}
    
    {% render 'partials/head.liquid',
        mobile_logo: mobile_logo,
        desktop_logo: desktop_logo
    %}

    <main class="main-details">
        {% render 'partials/detail-content.liquid', story: story, categories: categories, showBack: true %}
        {% render 'partials/comments-section.liquid', reacties: reacties, story: story, hasComments: hasComments %}
    </main>

    {% render 'partials/foot.liquid'%}