    {% assign mobile_logo = "/assets/logo-compact-home.svg" %}
    {% assign desktop_logo = "/assets/logo-lang-home.svg" %}
    
    {% render 'partials/head.liquid',
        pageClass: "home",
        mobile_logo: mobile_logo,
        desktop_logo: desktop_logo
    %}

    <main class="main-home">
        <section class="section-home">
            <div class="card-algemeen">
                {% render 'partials/card-big.liquid', story: story, categories: categories %}
            </div>
        </section>
    </main>

    {% render 'partials/foot.liquid',
        mobile_logo: mobile_logo,
        desktop_logo: desktop_logo
    %}
