:root {
  /* color */
  --bg-main: white;
  --orange: #f6601a;
  --main-dark-blue: #314366;
  --main-orange: #E4822D;
  --main-light-blue: #2F7789;

  /* text */
  --text-s: 14px;
  --text-m: 16px;
  --text-l: 20px;
  --text-xl: 28px;

  /* card */

  /* titel */
  --titel-big: 1.3rem;
  --titel-medium: 1.1rem;

  /* intro */
  --intro-big-text: 0.85rem;
  --intro-medium-text: 0.65rem;
  --intro-small-text: 0.85rem;

  --intro-weight: 400;

  /* font-weight */
  --font-weight-light: 100;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  
}